<main class="h-custom px-20">
    <div class="mt-7 flex justify-evenly">
        <a class="flex flex-col gap-1 hover:text-[#805933] [&>span:last-child]:hover:text-[#947454] [&>span:last-child]:hover:underline [&>span:last-child]:hover:font-medium"
            href="tel:+910230251256">
            <mat-icon class="mat-18">phone</mat-icon>
            <span class="font-medium">Customer Support</span>
            <span class="text-xs">call - +91 023 025 1256</span>
        </a>
        <a class="flex flex-col gap-1 hover:text-[#805933] [&>span:last-child]:hover:text-[#947454] [&>span:last-child]:hover:underline [&>span:last-child]:hover:font-medium"
            href="tel:+910230251256" href="mailto:example@gmail.com">
            <mat-icon class="mat-18">email</mat-icon>
            <span class="font-medium">General Questions</span>
            <span class="text-xs">email - example&#64;gmail.com</span>
        </a>
        <a class="flex flex-col gap-1 w-1/4 hover:text-[#805933] [&>span:last-child]:hover:text-[#947454] [&>span:last-child]:hover:underline [&>span:last-child]:hover:font-medium"
            href="tel:+910230251256"
            href="https://www.google.com/maps?q=Unit+8012-8014,+Chandaka+Industrial+Estate,+I+T+University,+Patia,+Bhubaneswar,+Odisha">
            <mat-icon class="mat-18">explore_nearby</mat-icon>
            <span class="font-medium">Address</span>
            <span class="text-xs text-pretty">Unit 8012- 8014, Chandaka Industrial Estate, I T University, Patia,
                Bhubaneswar, Odisha</span>
        </a>
    </div>
    <div class="flex mt-12 h-2/3">
        <div class="w-1/2 h-full flex flex-col justify-evenly animate-fade-right animate-once animate-delay-[100ms] animate-ease-in-out">
            <h1 class="text-2xl font-semibold">Put Life Into Your Ideas With Us</h1>
            <p class="text-neutral-500">Let’s discuss your project and find out what we can do to provide value.</p>
            <!-- Form -->
            <form [formGroup]="formMessage" (submit)="saveMessage()"  class="grid grid-cols-4 grid-rows-4 items-center justify-center gap-1">
                <!-- name field -->
                <mat-form-field class="col-span-2 row-span-1">
                    <mat-label>Name</mat-label>
                    <input matInput id="name" formControlName="name">
                </mat-form-field>
                <!-- phone field -->
                <mat-form-field class="col-span-2 row-span-1">
                    <mat-label>Phone Number</mat-label>
                    <input type="tel" matInput id="phone"  formControlName="phone">
                </mat-form-field>
                <!-- email field -->
                <mat-form-field class="col-span-4 row-span-1">
                    <mat-label>Email</mat-label>
                    <input type="email" matInput id="email" formControlName="email">
                </mat-form-field>
                <!-- project brief field -->
                <mat-form-field class="col-span-4 row-span-1">
                    <mat-label>Project Brief</mat-label>
                    <input type="text" matInput id="projectBrief" formControlName="projectBrief">
                </mat-form-field>
                <button mat-flat-button [disabled]="formMessage.invalid" color="primary" class="font-thin">Send Message</button>
            </form>
        </div>
        <div class="w-1/2 h-full flex flex-col gap-2 animate-fade-left animate-once animate-delay-[100ms] animate-ease-in-out">
            <h2 class="font-medium">How To Find Us</h2>
            <img src="assets/img/map.svg" alt="location in the map" class="w-full h-full">
        </div>
    </div>
</main>