<main class="px-20 animate-fade animate-once animate-delay-[250ms] animate-ease-in-out">
    <h1 class="text-3xl mt-4 mb-2 font-semibold text-center text-pretty">See The New Project Ideas</h1>
    <div class="flex flex-col w-full">
        <span>Total messages: {{messagesService.getTotalMessages()}}</span>
        <mat-divider class="mb-10 "></mat-divider>
    </div>
    <mat-accordion multi >
        @for(message of messagesService.getMessages(); track $index){
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <h2 class="font-medium">
                        Project of <span class="text-[#A8845F]">{{message.messageContent.name}}</span>
                    </h2>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p class="text-pretty font-medium">Email: <a [href]="'mailto:' + message.messageContent.email"
                    class="underline text-[#b99169]"> {{message.messageContent.email}} </a></p>
            <p class="text-pretty font-medium">Phone: <a [href]="'tel:' + message.messageContent.phone"
                    class="underline text-[#b99169]"> {{message.messageContent.phone}} </a></p>
            <p class="text-pretty font-medium">Project Brief: <span class="font-normal">
                    {{message.messageContent.projectBrief}} </span></p>
            <br>
            <div class="flex gap-3 mt-2">
                <button mat-flat-button color="primary" (click)="updateStatusMessage()">Mark done
                    <mat-icon>done</mat-icon></button>
                <button mat-stroked-button color="warn" (click)="deleteMessage($index)">Delete
                    <mat-icon>delete</mat-icon></button>
            </div>
        </mat-expansion-panel>
        } @empty {
        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>Don't have messages</mat-panel-title>
                <mat-panel-description>Wait for new project ideas.</mat-panel-description>
            </mat-expansion-panel-header>
            <button mat-flat-button color="primary" routerLink="/send/message">Send message</button>
        </mat-expansion-panel>
        }
    </mat-accordion>
</main>