<mat-toolbar class="flex justify-between bg-neutral-500/30">
    <div class="flex items-center px-2 text-2xl text-white bg-[#a8845f] h-full">
        <h1 class="title text-pretty tracking-wider">
            Project Ideas
        </h1>
    </div>
    <ul class="flex gap-3  [&>li>a]:border-2 [&>li>a]:rounded-full [&>li>a]:px-3 ddddddd">
        <li><a mat-raised-button color="primary"  [routerLink]="['/home']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a></li>
        <li><a mat-raised-button color="primary" [routerLink]="['/inbox/messages']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Inbox</a></li>
        <li><a  mat-raised-button color="primary" [routerLink]="['/send/message']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Send Project</a></li>
    </ul>
    
</mat-toolbar>