<main class="container mx-auto mt-4 rounded-xl h-custom animate-fade-right animate-once animate-delay-[50ms] animate-ease-in-out">
    <section class="flex bg-neutral-100 shadow-2xl rounded-xl  justify-center px-3 py-5 h-2/3">
        <div class="h-full flex flex-col justify-between w-1/2">
            <h1 class="section-title text-5xl text-pretty font-extrabold text-[#694826] animate-fade-up animate-once animate-delay-[250ms] animate-ease-in-out">We make real your <span class="title-decoration ">project ideas</span> ideas</h1>
            <div class="flex gap-4 animate-fade animate-once animate-delay-[450ms] animate-ease-in-out">
                <button routerLink="/send/message"  mat-flat-button color="primary">Send your project idea</button>
                <button routerLink="/inbox/messages" mat-stroked-button color="primary">See your inbox</button>
            </div>
        </div>
        <div class="h-full">
            <img src="assets/img/background.jpg" alt="Image" class="rounded-xl h-full animate-flip-up animate-once animate-delay-[300ms] animate-ease-in-out">

        </div>
    </section>
</main>